header{
    width: 100%;
    height: 50px;
    background-color: #2189C0;
    display:flex;
    align-items: center;
    
}
#tp1{
margin-left: 4%;
}
#box1{
    width: 20%;
    height: 40%;
   margin-left: 60%;
}
#in{
   border-radius: 10px;
   border: 1px white;
    width: 100%;
    height: 100%;
}
#tp2{
    position: relative;
    top: -20px; 
    left: 8%;
}
#tp3{
    margin-left: 2%;
    margin-top: 10px;
}
#tp4{
   font-size: 12px;
   font-family: 微软雅黑;
   color: white;
   margin-left: 4px;
   margin-top: 8px;
}
#container{
    display: flex;
    width: 100%;
    height: 1200px;
   
}
*{
    padding: 0px;
    margin: 0px;
}
#left{
    width: 20%;
    height: 100%;
    background-color: #2B2E3D;
    display: flex;
    flex-direction: column;
   align-items: center;
}

#l1{
width: 100%;
height: 100px;
display: flex;

}
#f1{
    margin-left: 17%;
}
#f2{
    font-size: 18px;
    color: #D4D3D6;
    margin-top: 34px;
}
#l2{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}
#f3{
    color: #5A677A;
    width: 40%;
    height: 40%;
    border-right: white 1px solid;
    margin-left: 25%;
}
#f4{
    color: #5A677A;
    width: 50%;
    height: 40%;
    margin-left: 15%;
}
#l3{
    width: 100%;
    height: 200px;
    background-color: #383E4E;
}
#f5{
    display: flex;
    width: 100%;
    height: 25px;
    align-items: center;
}
#q1{
    margin-left: 23%;
}
#q2{
    font-size: 16px;
    font-family: 微软雅黑;
    color: #D2D4D8;
    margin-left: 5%;
}
#f6{
    display: flex;
    width: 100%;
    height: 25px;
    align-items: center;  
}
#r1{
   
    margin-left: 30%;
    margin-top: 10%;
    
}
#r2{
    margin-top: 10%;
    margin-left: 5px;
}
#r3{
    font-size: 16px;
    font-family: 微软雅黑;
    color: #6E8096;
    margin-top: 10%;
    margin-left: 5px;
}
#f7{
    display: flex;
    width: 100%;
    height: 25px;
    align-items: center;  
}
#j1{
    margin-left: 30%;
    margin-top: 16%;
}
#j2{
    margin-top: 16%;
    margin-left: 5px;
}
#j3{
    margin-top: 16%;
    margin-left: 5px;
    color: #EDEDEF;
    font-size: 16px;
    font-family: 微软雅黑;
}
#f8{
    display: flex;
    width: 100%;
    height: 25px;
    align-items: center;  
}
#b1{
    margin-left: 40%;
    margin-top: 20%;
}
#b2{
    margin-top: 20%;
    margin-left: 5px;
    color: #EDEDEF;
    font-size: 16px;
    font-family: 微软雅黑;
}
#f9{
    display: flex;
    width: 100%;
    height: 25px;
    align-items: center;  
}
#b3{
    margin-left: 40%;
    margin-top: 20%; 
}
#b4{
    margin-top: 20%;
    margin-left: 5px;
    color: #6E8096;
    font-size: 16px;
    font-family: 微软雅黑;
}
#f10{
    display: flex;
    width: 100%;
    height: 25px;
    align-items: center;
    margin-top: 8%;
}
#c1{
    margin-left: 30%;
    margin-top: 10%;
}
#c2{
    margin-top: 10%;
    margin-left: 5px;
}
#c3{
    font-size: 16px;
    font-family: 微软雅黑;
    color: #6E8096;
    margin-top: 10%;
    margin-left: 5px;
}
#l4{
    width: 100%;
    height: 50px;
    display: flex;
   
    align-items: center;
}
#l4p1{
    margin-left: 23%;
}
#l4p2{
    font-size: 16px;
    font-family: 微软雅黑;
    color: #6D8097;
    margin-left: 5%;
}
#l5{
    width: 100%;
    height: 50px;
    display: flex;
   
    align-items: center;
}
#l5p1{
    margin-left: 23%;
}
#l5p2{
    font-size: 16px;
    font-family: 微软雅黑;
    color: #6D8097;
    margin-left: 5%;
}
#l6{
    width: 100%;
    height: 50px;
    display: flex;
   
    align-items: center;
}
#l6p1{
    margin-left: 23%;
}
#l6p2{
    font-size: 16px;
    font-family: 微软雅黑;
    color: #6D8097;
    margin-left: 5%;
}
#l7{
    width: 100%;
    height: 50px;
    display: flex;
   
    align-items: center;
}
#l7p1{
    margin-left: 23%;
}
#l7p2{
    font-size: 16px;
    font-family: 微软雅黑;
    color: #6D8097;
    margin-left: 5%;
}
#l8{
    width: 100%;
    height: 50px;
    display: flex;
   
    align-items: center;
}
#l8p1{
    margin-left: 23%;
}
#l8p2{
    font-size: 16px;
    font-family: 微软雅黑;
    color: #6D8097;
    margin-left: 5%;
}
input{
    transition: all 2s initial 1s;
}
input:hover{
    transform: scale(1.1,1.2);
}
#right{
    width: 80%;
    height: 100%;
   background-color: #EDEDED;
   display: flex;
   flex-direction: column;
   align-items: center;

}
#s1{
    width: 100%;
    height: 50px;
    background-color: #FFFFFF;
    display: flex;
  align-items: center;
}
#d1{
    font-size: 14px;
    font-family: 微软雅黑;
    color: #BCBCBC;
    margin-left: 5%;
}
#d2{
    font-size: 14px;
    font-family: 微软雅黑;
    color: #AAC2DC;
}
#s2{
    
    width: 90%;
    height: 100px;
    background-color: #FFFFFF;
    justify-self: center;
    margin-top: 20px;
    display: flex;
    align-items: center;
}
#a1{
    margin-left: 10px;
    font-size: 14px;
    font-family: 微软雅黑;
    color: #C8C8C8;
    margin-top: 20px;
    margin-left: 5%;
}
#a2{
      width: 7%;
      height: 30%;
    border: 1px solid #C8C8C8;
      margin-top: 14px;
      margin-left: 1%;
      
     
}
#a2>option{
    font-size: 14px;
    font-family: 微软雅黑;
  
}
#a3{
    width: 20%;
    height: 90%;
    display: flex;
     align-items: center;
    flex-wrap: wrap;
    margin-left: 4%;
}
#e1{
    width: 20%;
    height: 20%;
    font-size: 14px;
    font-family: 微软雅黑;
    color: #C8C8C8;
}
#e2{
    margin-left: 1%;
    width: 79%;
    height: 30%;
    border: 1px solid #C8C8C8;
}
#e3{
    width: 20%;
    height: 20%;
    font-size: 14px;
    font-family: 微软雅黑;
    color: #C8C8C8;
}
#e4{
    margin-left: 1%;
    width: 79%;
    height: 30%;
    border: 1px solid #C8C8C8;
}
#a4{
    display: flex;
    align-items: center;
    width: 10%;
    height: 100%;
}
#a5{
    width: 36%;
    height: 100%;
    display: flex;
     align-items: center;
    flex-wrap: wrap;
   
}
#m1{
    width: 13%;
    height: 35%;
    font-size: 14px;
    font-family: 微软雅黑;
    color: #C8C8C8;
    text-align: center;
    margin-top: 20px;
}
#m2{
    width: 40%;
    height: 35%;
    border: 1px solid #C8C8C8;
}
#m3{
    width: 13%;
    height: 35%;
    font-size: 14px;
    font-family: 微软雅黑;
    color: #C8C8C8;
    text-align: center;
    margin-top: 20px;
    margin-left: 3px;

}
#m4{
    width:30%;
    height: 35%;
    border: 1px solid #C8C8C8;
}
#m5{
    width: 13%;
    height: 35%; 
    font-size: 14px;
    font-family: 微软雅黑;
    color: #C8C8C8;
    text-align: center;
    margin-top: 10px;
    

}
#m6{
    width: 30%;
    height: 35%;
    border: 1px solid #C8C8C8;
}
#m7{
    width: 13%;
    height: 35%;
    font-size: 14px;
    font-family: 微软雅黑;
    color: #C8C8C8;
    text-align: center;
    margin-left: 3px;
    margin-top: 10px;

}
#m8{
    width: 40%;
    height: 35%;
    border: 1px solid #C8C8C8;
}
#a6{
    width: 5%;
    height: 40%;
    background-color: #398BC1;
    text-align: center  ;
    font-size: 14px;
    font-family: 微软雅黑;
    color: #EEEE;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}
#s3{
    width: 90%;
    height: 80px;
    margin-top: 10px;
    display: flex;
}
#y1{
    width: 3%;
    height: 100%;
   background-color: #FFFFFF;
   display: flex;
   align-items: center;
   justify-content: center;
}
#y2{
    width: 12%;
  height: 100%;
  background-color: #FFFFFF;
  margin-left: 10px;
  border-top: 4px solid #4388C9;
  box-sizing: border-box;
}
#i1{
    width: 100%;
    height: 60%;
    color: #2b2a2a;
    font-size: 14px;
    font-family: 微软雅黑;
    display: flex;
    justify-content: center;
    align-items: center;
}
#ss1{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    
}
#i3{
    font-size: 18px;
    font-family: 微软雅黑;
    color: #E76300;
    
}
#y3{
    width: 12%;
    height: 100%;
    background-color: #FFFFFF;
    margin-left: 10px;
}
#y4{
    width: 3%;
    height: 100%;
   background-color: #FFFFFF;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-left: 10px;
}
#y5{
    width: 15%;
    height: 100%;
    background-color: #FFFFFF;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#bb2{
    margin-left: 5px;
    font-size: 14px;
    font-family: 微软雅黑;
    color: #2b2a2a;
}
#s4{
    width: 90%;
    height: 50px;
    display: flex;
    align-items: flex-end;
    font-size: 14px;
    font-family: 微软雅黑;
}
#s5{
    width: 90%;
    height: 80px;
    display: flex;
}
.q1{
    width: 22%;
    height: 100%;
    border-left: 3px solid #43B29F;
   background-color: #FFFFFF;
   box-sizing: border-box;
   display: flex;
  align-items: center;
   
}
.q2{
    width: 22%;
    margin-left: 4%;
    height: 100%;
    background-color: #FFFFFF;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    
}
#qq2{
    border-left: 3px solid #388BC1;
}
#qq3{
    border-left: 3px solid #CF4B36;
}
#qq4{
    border-left: 3px solid #E1CD46;
}
#aa1{
    font-size: 14px;
    font-family: 微软雅黑;
    line-height: 20px;
    margin-left: 4px;
    color: #9A9A9A;
}
#aa2{
    width: 40%;
    height: 80%;
    background-color: #43B29F;
    margin-left: 35%
}
#aa3{
    width: 40%;
    height: 80%;
    background-color: #398AC1;
    margin-left: 35%
}
#aa4{
    width: 40%;
    height: 80%;
    background-color:#CF4B36;
    margin-left: 35%
}
#aa5{
    width: 40%;
    height: 80%;
    background-color: #E1CD46;
    margin-left: 35%
}
#s6{
    width: 90%;
    height: 360px;
    display: flex;
    
    margin-top: 20px;
}
#k1{
    width: 60%;
    height: 100%;
    border-radius: 10px;
    border: 2px solid #D6D6D6;
}
#k2{
    width: 38%;
    height: 100%;
    margin-left: 2%;
    border-radius: 10px;
    border: 2px solid #D6D6D6;
}
#top{
    width: 100%;
    height: 60px;
    font-size: 14px;
    font-family: 微软雅黑;
    background-color: #F4F5F7;
    color: #C4C4C4;
    border-bottom: 2px solid #D6D6D6;
    display: flex;
    align-items: center;
   padding-left: 20px;
   box-sizing: border-box;
   
}

#main1{
    width: 100%;
    height: 300px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
#main2{
    width: 100%;
    height: 300px;
    background-color: #FFFFFF;
    box-sizing: border-box;
}
#n1{
    display: flex;
    width: 90%;
    height: 30px;
    font-size: 16px;
    font-family: 微软雅黑;

}
#v1{
    border: 2px solid #D6D6D6;
    
    width: 18%;
    height: 100%;
    border-bottom: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.v2{
    width: 18%;
    height: 100%;
    background-color: #EDECF1;
    margin-left: 1%;
    
    display: flex;
    align-items: center;
   justify-content: center;
}
#n2{
    box-sizing: border-box;
    width: 90%;
    height: 240px;
    background-color: #FFFFFF;
    border: 2px solid #D6D6D6;
    border-top: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
#n2::before{
    content: "";
    position: absolute;
    top: 568px;
    left: 506px;
    width: 480px;
    height: 2px;
      background-color:#D6D6D6;
}
#u1{
    width: 90%;
    height: 80%;
    display: grid;
    
    grid-template-columns: repeat(4,25%);
    grid-template-rows: repeat(6,16.6%)
}
.zxc{
    border: 1px solid #D6D6D6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-family: 微软雅黑;
}
#list1{
    font-size: 12px;
    font-family: 微软雅黑;
    width: 80%;
    height: 14px;
    margin-left: 30px;
    padding-top: 20px;
    box-sizing: border-box;
    color: #D7D7D7;
}
#list2{
    font-size: 14px;
    font-family: 微软雅黑;
    width: 80%;
    height: 14px;
    margin-left: 30px;
    margin-top: 14px;
}
#list3{
    margin-left: 30px;
    margin-top: 14px;
    background-color: #D7D7D7;
    width: 80%;
    height: 2px;
}
#list4{
    margin-left: 30px;
    margin-top: 14px;
    
    width: 80%;
    height: 40px;
    display: flex;
    align-items: flex-start;

}
#item1{
   
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}
#it1{
    font-size: 14px;
    font-family: 微软雅黑;
    color: #C4C4C4;
    width: 100%;
    height: 50%;
}
#it2{
    font-size: 14px;
    font-family: 微软雅黑; width: 100%;
    height: 50%;
}
#item2{
    width: 2px;
    height: 135%;
    background-color:#D6D6D6;
    margin-top: -13px;
}
#item3{
   
     width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 20px;

}
#ie1{
    font-size: 14px;
    font-family: 微软雅黑;
    color: #C4C4C4;
    width: 100%;
    height: 50%;
}
#ie2{
    font-size: 14px;
    font-family: 微软雅黑; width: 100%;
    height: 50%; 
}
#list5{
    margin-left: 20px;
    background-color:#D6D6D6;
    width: 95%;
    height: 2px;
}
#list6{
    font-size: 14px;
    font-family: 微软雅黑;
    color: #C4C4C4;
    margin-left: 30px;
}
#list7{
    font-size: 14px;
    font-family: 微软雅黑;
    margin-left: 30px;
    margin-top: 4px;
}
#list8{
    width: 80%;
    margin-left: 20px;
    height: 2px;
    background-color:#D6D6D6;
    margin-top: 80px;
}
#list9{
    width: 90%;
    height: 30px;
    margin-left: 20px;
    margin-top: 4px;
    display: flex;
    align-items: center;
    
}
#li1{
    margin-top: 10px;
    background-color:#D6D6D6;
}
#li2{
    font-size: 14px;
    font-family: 微软雅黑;
    margin-top: 6px;
    color: #C4C4C4;
    margin-left: 5px;
}
#li3{
    width: 14%;
    height: 100%;
    background-color: #398AC1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 46%;
    font-size: 14px;
    font-family: 微软雅黑;
    color: #EEEE;
    
}
#s7{
    width: 90%;
    height: 360px;
   display: flex;
   margin-top: 2%;
}
#nr1{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    border-radius: 8px;
    border: 1px solid   #C4C4C4;
    background: #FFFFFF;
}
#bot{
    width: 90%;
    height: 270px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
  
    
}
#bt1{
    width: 90%;
    height: 30px;
    display: flex;
    justify-content: space-around;
    margin-top: 3%;

}
#sl1{
   
    height: 100%;
    box-sizing: border-box;
}
#sl2{
    margin-left:5%;
    border: 1px solid #D6D6D6;
  
    height: 100%;
    width: 20%;
}
#sl3{
    margin-left: 5%;
    border: 1px solid #D6D6D6;
    
    height: 100%;
}
#sl4{
    margin-left: 5%;
    border: 1px solid #D6D6D6;
   
    height: 100%;
}
#bt2{
    width: 90%;
    height: 2px;
    background-color:#398AC1 ;
    margin-top: 10px;
}
#bt3{
    width: 90%;
    height: 30px;
    display: flex;
    border-bottom: 2px solid #E8E8E8;

}
.rq{
    width: 14.3%;
    height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 12px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    }
    #bt4{
        display: grid;
        width: 90%;
        height: 200px;
        grid-template-columns: repeat(7,14.3%);
        grid-template-rows: repeat(5,40px);
    }
    .rq1{
        display: flex;
        margin-top: 3px;
        flex-direction: column;
    }
    .rl1{
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        font-family: 黑体;
    }
    .rl2{
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        font-family: 微软雅黑;
    }
     #yellow{
         border: solid 1px #F8D461;
     }
     #red{
         color: red;
     }
     #nr2{
         width: 58%;
         margin-left: 2%;
         height: 100%;

     }
     #nr2{
         background-color:#FFFFFF;
         border-radius: 10px;
         border: 1px solid   #C4C4C4;

     }
     #bo{
         display: flex;
         justify-content: center;
         align-items: center;
     }
     #bo1{
         margin-top: 30px;
         width: 90%;
        height: 240px;
         
         border-bottom: none;
         display: grid;
         grid-template-columns: 15% 25% 60%;
         
     }
     #bo1>div{
         display: flex;
         justify-content: center;
         align-items: center;
         border: 1px solid   #C4C4C4;
         border-collapse: separate;
         font-size: 12px;
        font-family: 微软雅黑;
     }
     #cv1{
         width: 30%;
         height: 100%;
         display: flex;
         justify-content: flex-end;
         align-items: flex-end;
     }
     .cm1{
         display: flex;
         
         margin-left: 10%;
         width: 50%;
         height: 34%;
         background-color: #DEDEDE;
     }
     #ui1{
         width: 90%;
        height: 100%;
        background-color: #EE6E51;
     }
     #ui2{
        width: 78%;
        height: 100%;
        background-color: #EF8150;
     }
     #ui3{
         width: 70%;
         height: 100%;
         background-color: #F19E4E;
     }
     #ui4{
         width: 67%;
         height: 100%;
         background-color: #85CDF0;
     }
     #ui5{
         width: 63%;
         height: 100%;
         background-color: #85CDF0;
     }
     #ui6{
        width: 54%;
        height: 100%;
        background-color: #85CDF0;
     }
     #ui7{
        width: 46%;
        height: 100%;
        background-color: #85CDF0;
     }
     #ui8{
        width: 40%;
        height: 100%;
        background-color: #85CDF0;
     }
     #ui9{
        width: 34%;
        height: 100%;
        background-color: #85CDF0;
     }
     #ui10{
        width: 28%;
        height: 100%;
        background-color: #85CDF0;
     }
     .kl{
         font-size: 16px;
         display: flex;
         justify-content: center;
         align-items: center;
         border: 1px solid   #C4C4C4;
         border-collapse: separate;
         
        font-family: 微软雅黑;
        
     }
     .kl1{
        font-size: 14px;
        display: flex;
        padding-left: 10%;
        align-items: center;
        border: 1px solid   #C4C4C4;
        border-collapse: separate;
        font-family: 黑体;
     }
   